chat-app/
node_modules/
tests/
git/
.env
client-simulation.js
package-lock.json
aws-infrastructure.yml
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
